html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

/* HEADER STYLES START */

.header {
  width: 100%;
  background: #ffffff;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 25px solid #140f50;
  height: 100px;
  padding: 10px 0;
}

.header__logo-link {
  height: 100%;
}

.header__logo-pic {
  height: 100%;
}

.header__logo-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 77%;
  color: #140f50;
  text-decoration: none;
  text-align: center;
}

.header__logo-link:hover,
.header__logo-link:focus,
.header__logo-link:active {
  opacity: 0.75;
}

.header__logo-title:hover,
.header__logo-title:focus,
.header__logo-title:active {
  opacity: 0.75;
}

.header__burger {
  position: relative;
  width: 18px;
  height: 10px;
  display: none;
}

.header__burger:hover {
  opacity: 0.75;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  background-color: #140f50;
  border-radius: 1px;
  grid-gap: 2px;
}

.burger__line:last-child {
  margin-bottom: 0;
}

.burger__line-1 {
  top: 0;
}

.burger__line-2 {
  top: 4px;
}

.burger__line-3 {
  bottom: 0;
}

.burger__nav {
  background: #7594c2;
  width: auto;
  padding: 10px 30px;
  position: absolute;
  right: 0;
  top: 25px;
  display: none;
}

.burger__nav-list {
  display: grid;
  justify-content: center;
  align-items: center;
}

.burger__nav-item {
  font-family: "Roboto", sans-serif;
  text-align: right;
  padding: 10px 0;
}

.burger__nav-item:hover {
  cursor: pointer;
  opacity: 0.75;
}

.header__nav {
  background: #7594c2;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 57px;
}

.nav__item-link {
  color: #140f50;
  text-decoration: none;
}

.active {
  color: cornsilk;
}

.header__nav-item {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.nav__item-link:hover,
.nav__item-link:focus,
.nav__item-link:active {
  opacity: 0.75;
}

/* HEADER STYLES END */

/* INTRO STYLES START */

.intro__title {
  display: none;
}

.intro__image {
  width: 100%;
}

/* INTRO STYLES END */

/* INFORMATION STYLES START */

.inform {
  display: grid;
  grid-template-columns: 440px 440px;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.inform__block {
  border: 3px solid #140f50;
  border-radius: 15px;
  width: 440px;
  height: 190px;
  padding: 20px 45px;
  display: grid;
}

.inform__title {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.4px;
  color: #140f50;
  font-weight: 600;
}

.inform__paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: gray;
}

/* INFORMATION STYLES END */

/* FOOTER STYLES START */

.footer__nav {
  background: #140f50;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 57px;
}

.footer__item-link {
  color: white;
  text-decoration: none;
}

.footer__nav-item {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.footer__item-link:hover,
.footer__item-link:focus {
  opacity: 0.75;
}

.footer__item-link:active {
  color: #7594c2;
}

/* FOOTER STYLES END */

/* NOT IMPLEMENTED PAGE STYLES START */

.error__main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NOT IMPLEMENTED PAGE STYLES END */

/* MAIN PRODUCTS STYLES START */

.main-products {
  max-width: 1100px;
  margin: 0 auto;
}

.products__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 77%;
  color: #140f50;
  margin: 20px;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  margin: 20px;
}

.product__card {
  border: 5px solid #140f50;
  width: 250px;
  border-radius: 15px;
}

.card__image {
  width: 100%;
  border-radius: 15px;
}

.card__name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #140f50;
  margin: 10px;
}

.card__colors-num {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: gray;
  margin: 10px;
}

.card__buttons-container {
  display: grid;
  grid-template-columns: 99px 90px;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.card__button {
  background: #140f50;
  color: white;
  border-radius: 30px;
  border: 1px solid #140f50;
  padding: 8px;
}

.card__button:hover,
.card__button:active,
.card__button:focus {
  background: white;
  color: #140f50;
  border: 1px solid #140f50;
}

/* MAIN PRODUCTS STYLES END */

/* MAIN DETAILS STYLES START */

.main-details {
  max-width: 800px;
  margin: 0 auto;
}

.details__container {
  margin: 50px 20px;
  display: grid;
  grid-template-areas:
    "title title"
    "image price"
    "image description"
    "image side"
    "image color";
  grid-gap: 20px;
}

.details__title {
  grid-area: title;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 77%;
  color: #140f50;
  margin-bottom: 20px;
}

.details__image {
  grid-area: image;
  height: 300px;
}

.details__price {
  grid-area: price;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 77%;
  color: #140f50;
}

.details__description {
  grid-area: description;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #140f50;
  font-weight: 600;
}

.details__side {
  grid-area: side;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.details__side-title {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: gray;
}

.details__side-front,
.details__side-back {
  background: #140f50;
  color: white;
  border: 1px solid #140f50;
  border-radius: 15px;
  padding: 8px;
}

#active-side {
  background: white;
  color: #140f50;
}

.details__side-front:hover,
.details__side-back:hover {
  opacity: 0.75;
}

.details__color {
  grid-area: color;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  flex-wrap: wrap;
}

#active-color {
  display: block;
}

.details__color-title {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: gray;
}

.details__color-white {
  background: white;
  color: #140f50;
  border: 1px solid #140f50;
  border-radius: 15px;
  padding: 8px;
  display: none;
}

.details__color-blue {
  background: blue;
  color: white;
  border: 1px solid #140f50;
  border-radius: 15px;
  padding: 8px;
  display: none;
}

.details__color-pink {
  background: pink;
  color: #140f50;
  border: 1px solid #140f50;
  border-radius: 15px;
  padding: 8px;
  display: none;
}

.details__color-red {
  background: red;
  color: white;
  border: 1px solid #140f50;
  border-radius: 15px;
  padding: 8px;
  display: none;
}

.details__color-green {
  background: green;
  color: white;
  border: 1px solid #140f50;
  border-radius: 15px;
  padding: 8px;
  display: none;
}

.details__color-yellow {
  background: yellow;
  color: #140f50;
  border: 1px solid #140f50;
  border-radius: 15px;
  padding: 8px;
  display: none;
}

.details__color-blue:hover,
.details__color-white:hover,
.details__color-pink:hover,
.details__color-red:hover,
.details__color-green:hover,
.details__color-yellow:hover {
  opacity: 0.75;
  border: 1px solid wheat;
}

/* MAIN DETAILS STYLES END */

/* MODAL WINDOW (QUICK VIEW) STYLES START */

.modal-window {
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -200px;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-areas:
    ". closeModal"
    "imageModal nameModal"
    "imageModal priceModal"
    "closeButtonModal seeButtonModal";
  background-color: #7594c2;
}

#modal-window__close {
  grid-area: closeModal;
  width: 25px;
  height: 25px;
  margin: 5px;
  background: rgb(180, 52, 52);
  justify-self: flex-end;
}

#modal-window__image {
  grid-area: imageModal;
  height: 250px;
  justify-self: center;
  border: 1px solid #140f50;
}

#modal-window__name {
  grid-area: nameModal;
  align-self: center;
  font-family: "Roboto", sans-serif;
  color: #140f50;
  font-size: 20px;
}

#modal-window__price {
  grid-area: priceModal;
  font-family: "Roboto", sans-serif;
  color: #140f50;
}

#modal-window__button-close {
  grid-area: closeButtonModal;
  width: 100px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  color: #140f50;
  justify-self: flex-end;
  border: 1px solid #140f50;
}

#modal-window__button-see {
  grid-area: seeButtonModal;
  display: block;
  width: 100px;
  padding: 6px;
  justify-self: center;
  background-color: #140f50;
  color: white;
  border: 1px solid white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-align: center;
  align-self: flex-start;
  justify-self: center;
}

/* MODAL WINDOW (QUICK VIEW) STYLES END */

@media screen and (min-width: 640px) and (max-width: 999px) {
  /* HEADER STYLES START (SCREEN 640-999) */

  .header__logo {
    justify-content: space-between;
    padding: 0 15px;
    height: 65px;
  }

  .header__logo-title {
    font-size: 26px;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    display: none;
  }

  /* HEADER STYLES END (SCREEN 640-999) */

  /* INFORMATION STYLES START (SCREEN 640-999) */

  .inform {
    grid-template-columns: 300px 300px;
  }

  .inform__block {
    width: 300px;
    height: auto;
  }

  .inform__title {
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .inform__paragraph {
    line-height: 1.2;
  }

  /* INFORMATION STYLES END (SCREEN 640-999) */
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  /* HEADER STYLES START (SCREEN 320-639) */

  .header__logo {
    justify-content: space-between;
    padding: 0 15px;
    height: 65px;
  }

  .header__logo-title {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    display: none;
  }

  /* HEADER STYLES END (SCREEN 320-639) */

  /* INFORMATION STYLES START (SCREEN 320-639) */

  .inform {
    grid-template-columns: 300px;
  }

  .inform__block {
    width: 300px;
    height: auto;
    padding: 15px 30px;
  }

  .inform__title {
    line-height: 1;
    margin-bottom: 10px;
  }

  .inform__paragraph {
    line-height: 1;
  }

  /* INFORMATION STYLES END (SCREEN 640-999) */

  /* FOOTER STYLES START (SCREEN 320-639) */

  .footer__nav-list {
    display: grid;
    grid-template-areas:
      "contact-us . site-map . privacy-policy"
      ". careers . reviews .";
    grid-gap: 20px 0px;
    height: auto;
    padding: 20px;
  }

  .footer__item-link {
    font-size: 12px;
  }

  .contact-us {
    grid-area: contact-us;
  }

  .site-map {
    grid-area: site-map;
  }

  .privacy-policy {
    grid-area: privacy-policy;
  }

  .careers {
    grid-area: careers;
  }

  .reviews {
    grid-area: reviews;
  }

  /* FOOTER STYLES END (SCREEN 320-639) */

  /* MAIN PRODUCTS STYLES START (screen 320-639) */

  .products__title {
    text-align: center;
  }

  .products__container {
    justify-content: center;
  }

  /* MAIN PRODUCTS STYLES END (screen 320-639) */

  /* MODAL WINDOW (QUICK VIEW) STYLES START (SCREEN 320-639)*/

  .modal-window {
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
  }

  #modal-window__image {
    height: 180px;
  }

  #modal-window__button-close {
    width: 80px;
    height: 27px;
    font-size: 13px;
  }

  #modal-window__button-see {
    width: 80px;
    font-size: 13px;
  }

  /* MODAL WINDOW (QUICK VIEW) STYLES END (SCREEN 320-639)*/

  /* MAIN DETAILS STYLES START (SCREEN 320-639) */

  .details__container {
    grid-template-areas:
      "title title"
      "image ."
      "price ."
      "description ."
      "side ."
      "color .";
  }

  /* MAIN DETAILS STYLES END (SCREEN 320-639) */
}
